/asm
/assets
/backups
/blueprints
/crash-reports
/downloads
/llibrary
/local
/logs
/minecolonies
/resourepacks
/saves
/server-resource-packs
/tmp
/downloads
*.log
OpenComp*
usercache.json
usernamecache.json
minecraftinstance.json
options.txt
.curseclient
